
h1{
    margin: auto;
    text-align: center;
    padding-top: 140px;
    text-transform: capitalize;
    font-weight: bold;

   
}
.button{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    
}
#h1{
    margin: auto;
    text-align: center;
    font-size: 50px;
    padding-top: 5px;
    padding-bottom: 7px;
}

