
h2{
    margin: auto;
    text-align: center;
    padding-top: 150px;
    text-transform: capitalize;
   
}
.button{
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
h1{
    margin: auto;
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
}

